<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.diary.user.dao.UserMapperRepository">
 	<update id="updatePassword">
	 	UPDATE
	 		`user`
	 	SET
	 		`password` = #{password}
	 		, `updatedAt` = NOW()
	 	WHERE
	 		`id` = #{id}
 	</update>
 </mapper>