<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.diary.user.dao.UserDAO">
	<!-- 로그인 -->
	<select id="selectUserByLoginIdPassword" resultType="com.diary.user.model.User" parameterType="map">
		SELECT
			`id`
			,`loginId`
			,`nickName`
			,`password`
			,`email`
			,`age`
			,`gender`
			,`statusMessage`
			,`profileImgPath`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId`=#{loginId}
 		AND
 			`password`=#{password}
	</select>
	
	<!-- 회원가입 -->
	<insert id="selectUserCount" parameterType="com.diary.user.model.User">
		INSERT INTO `user`
		(
			`loginId`
			,`nickName`
			,`password`
			,`email`
			,`age`
			,`gender`
			,`statusMessage`
			,`profileImgPath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			,#{nickName}
			,#{password}
			,#{email}
			,#{age}
			,#{gender}
			,#{statusMessage}
			,#{profileImgPath}
			,NOW()
			,NOW()
		)
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="existLoginId" parameterType="String" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			`user`
		WHERE
			`loginId`= #{loginId}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="existFindPasswordByLoginIdEmail" parameterType="map" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			`user`
		WHERE
			`loginId`= #{loginId}
		AND `email` = #{email}
	</select>
	
	<!-- 유저 아이디로 조회 -->
	<select id="selectUserByUserId" resultType="com.diary.user.model.User" parameterType="int">
		SELECT
			`id`
			,`loginId`
			,`nickName`
			,`password`
			,`email`
			,`age`
			,`gender`
			,`statusMessage`
			,`profileImgPath`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{userId}
	</select>
	
	<!-- 비밀번호 있는지 조회 -->
	<select id="selectPasswordByUserId" resultType="boolean" parameterType="map">
		SELECT
			COUNT(*)
		FROM
			`user`
		WHERE
			`id` = #{userId} AND
			`password` = #{password}
	</select>
	
	<!-- 프로필 업데이트 -->
	<update id="updateUser" parameterType="map">
		UPDATE `user`
		SET
			`nickName` = #{nickName}
			, `statusMessage` = #{statusMessage}
			<if test="profileImgPath != null">
			, `profileImgPath` = #{profileImgPath}
			</if>
			,`updatedAt` = NOW()
		WHERE
			`id` = #{userId}
	</update>
	
	<!-- 비밀번호 업데이트 -->
	<update id="passwordUpdate" parameterType="map">
		UPDATE `user`
		SET
			`password` = #{changePassword}
			,`updatedAt` = NOW()
		WHERE
			`id` = #{userId}
	</update>
	
	<!-- 탈퇴시 회원정보 조회 -->
	<select id="selectUserByUserIdPassword" parameterType="map" resultType="com.diary.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`nickName`
			,`password`
			,`email`
			,`age`
			,`gender`
			,`statusMessage`
			,`profileImgPath`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id`=#{userId}
 		AND
 			`password`=#{password}
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="deleteUserByUserId" parameterType="int">
		DELETE FROM `user`
		WHERE
			`id` = #{userId}
	</delete>
	
	<!-- 개인페이지 -->
	<select id="selectuserListByUserId" resultType="com.diary.user.model.User" parameterType="int">
		SELECT
			`id`
			,`loginId`
			,`nickName`
			,`password`
			,`email`
			,`age`
			,`gender`
			,`statusMessage`
			,`profileImgPath`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id`=#{userId}
	</select>
	
</mapper>